.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-header {
                             
  
  min-height: 100px; 
  margin: 0; 
  color: white;
  text-align: center;
  background-color:hsl(12, 8%, 48%);
}

.App-body {
     
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: left;
     
}
.content {
  background-color: #FFF;
  padding: 10px;
}

ul.menu-header li {
  display: inline;
      
}

ul.menu-header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: left;
  background-color: #111;
    
    padding:10px;
    margin:10px;
}



.site-nav {  
  grid-column: 1;
  grid-row: 2 / span 5; 
  margin: 0;
  padding: .5em;
  background-color: hsl(16, 17%, 32%);    
  border-radius: .2em; 
  
}
.mainnav{
  display: flex;     
  flex-direction: column; 
  justify-content: space-around; 
  align-items: center;                         

}
 
.mainnav > li{
  list-style-type: none;
}

.mainnav > li > a {
  color: white;
  text-decoration: none;    
  display: block;
  padding: 1em;
  
} 
 


.tile {
  padding: 1.5em;
  background-color: #fff;
}
